<a href="https://colab.research.google.com/github/BeeLaBoo/AutoHotkey_L/blob/master/spark_no_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd




*****Questions:*****

1. Display Top 3 Rows of The 

2. Display Datatype of Each Column
3. Display Column Names
4. Count Number of Rows and Columns of The dataset
5.Get Overall Statistics About The Dataset
6.Find Unique Values Available in the Gender column
7.Find the Total Number of Unique Values Available in the Gender column
8.How Select Single Column?
9.How Select Multiple Columns?
10. Create New Column  ::: With  + 1 
And Also Update Existing DataFrame
11. Rename Name Column And Give New Name 
12. Display Name of customers who having ...( this condition***)...
13.Display Name & Gender of the customers who having ...( this condition***)...
14.Display Name of The Female customers who having ...( this condition***)...
15.Display Name of The Male customers who having ...( this condition***)...
16. Display Average value separate by gender

*** set the condition that I want to explore ***

In [8]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 26 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 42.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=c491e87f0915ef88105bf5abe16a56acb20c918c9e1255bee583db8245c96ef1
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [9]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder.appName('Pyspark').getOrCreate()

Now spark session excuted successfully

In [11]:
spark

In [23]:
df = spark.read.csv('/content/Sample - Superstore.csv',header = True, inferSchema = True)

#header = true : to remove the spark auto generate header (c1...c15)

copy path from dataset csv file and paste

In [21]:
df.show(3)

# show top 3 row

+------+--------------+----------+----------+------------+-----------+---------------+---------+-------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+
|Row ID|      Order ID|Order Date| Ship Date|   Ship Mode|Customer ID|  Customer Name|  Segment|      Country|       City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|
+------+--------------+----------+----------+------------+-----------+---------------+---------+-------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|Second Class|   CG-12520|    Claire Gute| Consumer|United States|  Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|261.96|       2|       0|41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|Second Class|   CG-12520|    Claire Gute| Consumer|United States|  Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|731.94|       3|       0|219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...| 14.62|       2|       0| 6.8714|
+------+--------------+----------+----------+------------+-----------+---------------+---------+-------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+
only showing top 3 rows

In [22]:
## datatype 
df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

it is set by default : all string data type

In [ ]:
## have to add ' inferSchema = True ' : on read csv code

In [24]:
df.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)

In [25]:
df.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [27]:
df.count()

# no. of rows

9994

In [29]:
len(df.columns)

# no.of columns

21

In [32]:
## stat
df.describe().show()

+-------+------------------+--------------+----------+---------+--------------+-----------+------------------+-----------+-------------+--------+-------+------------------+-------+---------------+----------+------------+--------------------+------------------+------------------+------------------+------------------+
|summary|            Row ID|      Order ID|Order Date|Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|    City|  State|       Postal Code| Region|     Product ID|  Category|Sub-Category|        Product Name|             Sales|          Quantity|          Discount|            Profit|
+-------+------------------+--------------+----------+---------+--------------+-----------+------------------+-----------+-------------+--------+-------+------------------+-------+---------------+----------+------------+--------------------+------------------+------------------+------------------+------------------+
|  count|              9994|          9994|      9994|     9994|          9994|       9994|              9994|       9994|         9994|    9994|   9994|              9994|   9994|           9994|      9994|        9994|                9994|              9994|              9994|              9994|              9994|
|   mean|            4997.5|          null|      null|     null|          null|       null|              null|       null|         null|    null|   null|  55190.3794276566|   null|           null|      null|        null|                null|234.41818199917006| 5.828590535392018|0.3155949113492862|28.587912967780834|
| stddev|2885.1636290974325|          null|      null|     null|          null|       null|              null|       null|         null|    null|   null|32063.693350364487|   null|           null|      null|        null|                null| 631.7890112674363|25.520975563736403| 3.314008629792499| 234.3891156047269|
|    min|                 1|CA-2014-100006|  1/1/2017| 1/1/2015|   First Class|   AA-10315|     Aaron Bergman|   Consumer|United States|Aberdeen|Alabama|              1040|Central|FUR-BO-10000112| Furniture| Accessories|"""While you Were...|          10/Pack"|      1040 sheets"|           30/Box"|         -6599.978|
|    max|              9994|US-2017-169551|  9/9/2017| 9/9/2017|Standard Class|   ZD-21925|Zuschuss Donatelli|Home Office|United States|    Yuma|Wyoming|             99301|   West|TEC-PH-10004977|Technology|      Tables|netTALK DUO VoIP ...|            999.98|            98.352|            98.352|          8399.976|
+-------+------------------+--------------+----------+---------+--------------+-----------+------------------+-----------+-------------+--------+-------+------------------+-------+---------------+----------+------------+--------------------+------------------+------------------+------------------+------------------+

**toPandas()** method

In [33]:
# count unique value of variable 'Region'

# convert spark dataframe to pandas dataframe

df.toPandas()['Region'].nunique()

4

In [37]:
len(df.toPandas()['Region'].unique())

4

4 regions

In [34]:
df.toPandas()['Region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [36]:
df.toPandas()['Region'].value_counts()

West       3203
East       2848
Central    2323
South      1620
Name: Region, dtype: int64

In [43]:
## select only one column

df.select('Customer Name').show(10)

+---------------+
|  Customer Name|
+---------------+
|    Claire Gute|
|    Claire Gute|
|Darrin Van Huff|
| Sean O'Donnell|
| Sean O'Donnell|
|Brosina Hoffman|
|Brosina Hoffman|
|Brosina Hoffman|
|Brosina Hoffman|
|Brosina Hoffman|
+---------------+
only showing top 10 rows

In [44]:
## select multiple columns
## use list : []


df.select(['Customer Name','City','Profit']).show(10)

+---------------+---------------+--------+
|  Customer Name|           City|  Profit|
+---------------+---------------+--------+
|    Claire Gute|      Henderson| 41.9136|
|    Claire Gute|      Henderson| 219.582|
|Darrin Van Huff|    Los Angeles|  6.8714|
| Sean O'Donnell|Fort Lauderdale|-383.031|
| Sean O'Donnell|Fort Lauderdale|  2.5164|
|Brosina Hoffman|    Los Angeles| 14.1694|
|Brosina Hoffman|    Los Angeles|  1.9656|
|Brosina Hoffman|    Los Angeles| 90.7152|
|Brosina Hoffman|    Los Angeles|  5.7825|
|Brosina Hoffman|    Los Angeles|   34.47|
+---------------+---------------+--------+
only showing top 10 rows

*** withColumn()*** method

In [53]:
## create new column , give cloumn name
## add *0.70 (on sale 30%) 
##  Sales to new column name : '30%_off'

df.withColumn('30%_off',df.Sales*0.7).show()

## assign/update new column to dataframe : this case I will set as new df

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|           30%_off|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|183.37199999999999|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582| 512.3580000000001|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|10.233999999999998|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031| 670.3042499999999|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|15.657599999999999|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|            34.202|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|             5.096|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|          635.0064|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|           12.9528|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47| 80.42999999999999|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|         1194.3288|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568| 637.9967999999999|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|10.886399999999998|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|          285.5832|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|            48.167|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|            1.7808|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|           466.116|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|38.849999999999994|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|             5.992|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|149.43599999999998|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
only showing top 20 rows

In [54]:
df1 = df.withColumn('30%_off',df.Sales*0.7)

In [55]:
df1.show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|           30%_off|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|183.37199999999999|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582| 512.3580000000001|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|10.233999999999998|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031| 670.3042499999999|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|15.657599999999999|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|            34.202|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|             5.096|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|          635.0064|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|           12.9528|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47| 80.42999999999999|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|         1194.3288|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568| 637.9967999999999|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|10.886399999999998|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|          285.5832|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|            48.167|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|            1.7808|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|           466.116|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|38.849999999999994|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|             5.992|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|149.43599999999998|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
only showing top 20 rows

**withColumnRenamed()**

In [60]:
## rename column
## 'Product ID' to 'SKU'

df1.withColumnRenamed('Product ID','SKU').show(3)

+------+--------------+----------+----------+------------+-----------+---------------+---------+-------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------------+
|Row ID|      Order ID|Order Date| Ship Date|   Ship Mode|Customer ID|  Customer Name|  Segment|      Country|       City|     State|Postal Code|Region|            SKU|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|           30%_off|
+------+--------------+----------+----------+------------+-----------+---------------+---------+-------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|Second Class|   CG-12520|    Claire Gute| Consumer|United States|  Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|261.96|       2|       0|41.9136|183.37199999999999|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|Second Class|   CG-12520|    Claire Gute| Consumer|United States|  Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|731.94|       3|       0|219.582| 512.3580000000001|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...| 14.62|       2|       0| 6.8714|10.233999999999998|
+------+--------------+----------+----------+------------+-----------+---------------+---------+-------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------------+
only showing top 3 rows

In [61]:
df1 = df1.withColumnRenamed('Product ID','SKU')

In [62]:
df1.show(3)

+------+--------------+----------+----------+------------+-----------+---------------+---------+-------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------------+
|Row ID|      Order ID|Order Date| Ship Date|   Ship Mode|Customer ID|  Customer Name|  Segment|      Country|       City|     State|Postal Code|Region|            SKU|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|           30%_off|
+------+--------------+----------+----------+------------+-----------+---------------+---------+-------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|Second Class|   CG-12520|    Claire Gute| Consumer|United States|  Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|261.96|       2|       0|41.9136|183.37199999999999|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|Second Class|   CG-12520|    Claire Gute| Consumer|United States|  Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|731.94|       3|       0|219.582| 512.3580000000001|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...| 14.62|       2|       0| 6.8714|10.233999999999998|
+------+--------------+----------+----------+------------+-----------+---------------+---------+-------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------------+
only showing top 3 rows

**filter()** method

In [63]:
## who are the profitable customers that my company got profit from them more than $100?

df1.filter(df1['Profit']>100).show()

+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+----------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|      Country|         City|     State|Postal Code| Region|            SKU|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|           30%_off|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+----------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|      Claire Gute|   Consumer|United States|    Henderson|  Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582| 512.3580000000001|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|     Irene Maddox|   Consumer|United States|      Seattle|Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|          285.5832|
|    25|CA-2015-106320| 9/25/2015| 9/30/2015|Standard Class|   EB-13870|      Emily Burns|   Consumer|United States|         Orem|      Utah|      84057|   West|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...| 1044.63|       3|       0|240.2649|           731.241|
|    36|CA-2016-117590| 12/8/2016|12/10/2016|   First Class|   GH-14485|        Gene Hale|  Corporate|United States|   Richardson|     Texas|      75080|Central|TEC-PH-10004977|     Technology|      Phones|         GE 30524EE4|1097.544|       7|     0.2|123.4737|          768.2808|
|    55|CA-2016-105816|12/11/2016|12/17/2016|Standard Class|   JM-15265|   Janet Molinari|  Corporate|United States|New York City|  New York|      10024|   East|TEC-PH-10002447|     Technology|      Phones|AT&T CL83451 4-Ha...| 1029.95|       5|       0|298.6855|           720.965|
|    68|CA-2014-106376| 12/5/2014|12/10/2014|Standard Class|   BS-11590|    Brendan Sweed|  Corporate|United States|      Gilbert|   Arizona|      85234|   West|OFF-AR-10002671|Office Supplies|         Art|Hunt BOSTON Model...|1113.024|       8|     0.2|111.3024| 779.1167999999999|
|   118|CA-2015-110457|  3/2/2015|  3/6/2015|Standard Class|   DK-13090|        Dave Kipp|   Consumer|United States|      Seattle|Washington|      98103|   West|FUR-TA-10001768|      Furniture|      Tables|Hon Racetrack Con...|  787.53|       3|       0|165.3813|           551.271|
|   145|CA-2017-155376|12/22/2017|12/27/2017|Standard Class|   SG-20080|   Sandra Glassco|   Consumer|United States| Independence|  Missouri|      64055|Central|OFF-AP-10001058|Office Supplies|  Appliances|Sanyo 2.5 Cubic F...|  839.43|       3|       0|218.2518| 587.6009999999999|
|   148|CA-2016-114489| 12/5/2016| 12/9/2016|Standard Class|   JE-16165|   Justin Ellison|  Corporate|United States|     Franklin| Wisconsin|      53132|Central|TEC-PH-10000215|     Technology|      Phones|Plantronics Cordl...|  384.45|      11|       0|103.8015|269.11499999999995|
|   150|CA-2016-114489| 12/5/2016| 12/9/2016|Standard Class|   JE-16165|   Justin Ellison|  Corporate|United States|     Franklin| Wisconsin|      53132|Central|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...| 1951.84|       8|       0| 585.552|1366.2879999999998|
|   160|CA-2016-114104|11/20/2016|11/24/2016|Standard Class|   NP-18670|       Nora Paige|   Consumer|United States|       Edmond|  Oklahoma|      73034|Central|TEC-PH-10004536|     Technology|      Phones|Avaya 5420 Digita...|  944.93|       7|       0|236.2325| 661.4509999999999|
|   183|CA-2014-158274|11/19/2014|11/24/2014|  Second Class|   RM-19675|    Robert Marley|Home Office|United States|       Monroe| Louisiana|      71203|  South|TEC-PH-10003273|     Technology|      Phones|        AT&T TR1909W|  503.96|       4|       0|131.0296|           352.772|
|   190|CA-2015-102281|10/12/2015|10/14/2015|   First Class|   MP-17470|      Mark Packer|Home Office|United States|New York City|  New York|      10035|   East|FUR-BO-10002613|      Furniture|   Bookcases|Atlantic Metals M...| 899.136|       4|     0.2| 112.392| 629.3951999999999|
|   227|CA-2015-163055|  8/9/2015| 8/16/2015|Standard Class|   DS-13180|      David Smith|  Corporate|United States|      Detroit|  Michigan|      48227|Central|FUR-TA-10003748|      Furniture|      Tables|Bevis 36 x 72 Con...|  622.45|       5|       0| 136.939|435.71500000000003|
|   245|CA-2014-131926|  6/1/2014|  6/6/2014|  Second Class|   DW-13480|    Dianna Wilson|Home Office|United States|    Lakeville| Minnesota|      55044|Central|FUR-CH-10004063|      Furniture|      Chairs|Global Deluxe Hig...| 2001.86|       7|       0|580.5394|          1401.302|
|   248|CA-2014-131926|  6/1/2014|  6/6/2014|  Second Class|   DW-13480|    Dianna Wilson|Home Office|United States|    Lakeville| Minnesota|      55044|Central|OFF-AP-10002945|Office Supplies|  Appliances|Honeywell Envirac...| 1503.25|       5|       0|496.0725|1052.2749999999999|
|   252|CA-2016-145625| 9/11/2016| 9/17/2016|Standard Class|   KC-16540|  Kelly Collister|   Consumer|United States|    San Diego|California|      92037|   West|TEC-AC-10003832|     Technology| Accessories|Logitech P710e Mo...| 3347.37|      13|       0|636.0003|2343.1589999999997|
|   254|CA-2016-146941|12/10/2016|12/13/2016|   First Class|   DL-13315|Delfina Latchford|   Consumer|United States|New York City|  New York|      10024|   East|OFF-EN-10003296|Office Supplies|   Envelopes|Tyvek Side-Openin...|  361.92|       4|       0| 162.864|           253.344|
|   271|CA-2017-163979|12/28/2017|  1/2/2018|  Second Class|   KH-16690| Kristen Hastings|  Corporate|United States|San Francisco|California|      94110|   West|OFF-ST-10003208|Office Supplies|     Storage|Adjustable Depth ...|  725.84|       4|       0|210.4936|508.08799999999997|
|   282|US-2015-161991| 9/26/2015| 9/28/2015|  Second Class|   SC-20725|Steven Cartwright|   Consumer|United States|      Houston|     Texas|      77070|Central|TEC-PH-10001760|     Technology|      Phones|Bose SoundLink Bl...|  1114.4|       7|     0.2|  376.11|            780.08|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+----------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
only showing top 20 rows

In [67]:
df1.filter(df1['Profit']>100).count()

888

888 customers for profit >$100

In [70]:
## but I want to see only customer name and how much profit I made

df1.filter(df1['Profit']>100).select('Customer Name').show()

+-----------------+
|    Customer Name|
+-----------------+
|      Claire Gute|
|     Irene Maddox|
|      Emily Burns|
|        Gene Hale|
|   Janet Molinari|
|    Brendan Sweed|
|        Dave Kipp|
|   Sandra Glassco|
|   Justin Ellison|
|   Justin Ellison|
|       Nora Paige|
|    Robert Marley|
|      Mark Packer|
|      David Smith|
|    Dianna Wilson|
|    Dianna Wilson|
|  Kelly Collister|
|Delfina Latchford|
| Kristen Hastings|
|Steven Cartwright|
+-----------------+
only showing top 20 rows

In [73]:
## but I want to see only customer name, city and how much profit I made

df1.filter(df1['Profit']>100).select(['Customer Name', 'city','Profit']).show()

+-----------------+-------------+--------+
|    Customer Name|         city|  Profit|
+-----------------+-------------+--------+
|      Claire Gute|    Henderson| 219.582|
|     Irene Maddox|      Seattle|132.5922|
|      Emily Burns|         Orem|240.2649|
|        Gene Hale|   Richardson|123.4737|
|   Janet Molinari|New York City|298.6855|
|    Brendan Sweed|      Gilbert|111.3024|
|        Dave Kipp|      Seattle|165.3813|
|   Sandra Glassco| Independence|218.2518|
|   Justin Ellison|     Franklin|103.8015|
|   Justin Ellison|     Franklin| 585.552|
|       Nora Paige|       Edmond|236.2325|
|    Robert Marley|       Monroe|131.0296|
|      Mark Packer|New York City| 112.392|
|      David Smith|      Detroit| 136.939|
|    Dianna Wilson|    Lakeville|580.5394|
|    Dianna Wilson|    Lakeville|496.0725|
|  Kelly Collister|    San Diego|636.0003|
|Delfina Latchford|New York City| 162.864|
| Kristen Hastings|San Francisco|210.4936|
|Steven Cartwright|      Houston|  376.11|
+-----------------+-------------+--------+
only showing top 20 rows

In [75]:
df1.filter((df1['Profit']>100) & (df1['City']=='Detroit')).select(['Customer Name', 'city','Profit']).show()

+----------------+-------+--------+
|   Customer Name|   city|  Profit|
+----------------+-------+--------+
|     David Smith|Detroit| 136.939|
|   Michael Paige|Detroit|231.4116|
|   Tracy Hopkins|Detroit|  135.98|
|    Bart Watters|Detroit| 679.996|
|      Bill Tyler|Detroit|121.7601|
| Damala Kotsonis|Detroit|226.9644|
|Theone Pippenger|Detroit|412.5394|
|       Max Jones|Detroit|421.0824|
|      Sean Wendt|Detroit| 134.654|
|     Rick Wilson|Detroit|423.0085|
|     Rick Wilson|Detroit|   119.2|
|    Ken Lonsdale|Detroit|219.9904|
|    Ken Lonsdale|Detroit|165.3496|
|        John Lee|Detroit| 136.665|
| Laura Armstrong|Detroit|  700.98|
| Laura Armstrong|Detroit| 150.984|
| Cynthia Arntzen|Detroit|134.5302|
|    Nathan Mautz|Detroit|   245.7|
|    Andrew Allen|Detroit|163.1898|
|    Rick Bensley|Detroit| 146.388|
+----------------+-------+--------+
only showing top 20 rows

In [77]:
## on the other hand : profit < $100, low profitable customers , who live in Detroit
## use ' ~ ' example ~(df['sex']=='male') mean female

df1.filter(~(df1['Profit']>100) & (df1['City']=='Detroit')).select(['Customer Name', 'city','Profit']).show()

+-------------------+-------+-------+
|      Customer Name|   city| Profit|
+-------------------+-------+-------+
|        David Smith|Detroit|  0.968|
|        David Smith|Detroit| 0.2198|
|          Pete Kriz|Detroit|  3.666|
|          Pete Kriz|Detroit|23.3928|
|          Pete Kriz|Detroit|20.5755|
|          Pete Kriz|Detroit|    0.0|
|          Pete Kriz|Detroit|29.1528|
|          Pete Kriz|Detroit| 10.584|
|       Matt Connell|Detroit| 21.098|
|      Michael Paige|Detroit|80.0199|
|        Peter McVee|Detroit| 10.048|
|      Tracy Hopkins|Detroit|    0.0|
|      Tracy Hopkins|Detroit| 5.4128|
|Maribeth Schnelling|Detroit|   51.8|
|         Bill Tyler|Detroit| 9.3624|
|    Damala Kotsonis|Detroit|19.5238|
|    Damala Kotsonis|Detroit| 6.2208|
|      Dianna Wilson|Detroit|    0.0|
|        Cathy Hwang|Detroit| 74.975|
|   Theone Pippenger|Detroit| 63.984|
+-------------------+-------+-------+
only showing top 20 rows

**groupby method in pyspark **

In [87]:
df1.groupby('Region').mean().show()

+-------+-----------------+------------------+------------------+------------------+
| Region|      avg(Row ID)|  avg(Postal Code)|       avg(Profit)|      avg(30%_off)|
+-------+-----------------+------------------+------------------+------------------+
|  South|5069.935185185185| 34490.77283950617|28.796506790123484|172.44364122862555|
|Central|5030.547998278089|65340.572535514424|17.283901420576836|154.18611104424758|
|   East|4941.685042134832|17616.466994382023| 32.16399462780904|170.73143606676328|
|   West|4986.524508273494|  91707.6965344989|33.500999531689054|161.15841921587582|
+-------+-----------------+------------------+------------------+------------------+

In [86]:
## average profit for each region


df1.groupby('Region').mean().select(['Region','avg(Profit)']).show()

+-------+------------------+
| Region|       avg(Profit)|
+-------+------------------+
|  South|28.796506790123484|
|Central|17.283901420576836|
|   East| 32.16399462780904|
|   West|33.500999531689054|
+-------+------------------+

**Sort every row into Descending Order**

In [92]:
df1.orderBy(df1['Profit'].desc()).show()

+------+--------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+---------------+------------+-----------+-------+---------------+---------------+------------+--------------------+---------+--------+--------+---------+------------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|       Customer Name|    Segment|      Country|           City|       State|Postal Code| Region|            SKU|       Category|Sub-Category|        Product Name|    Sales|Quantity|Discount|   Profit|           30%_off|
+------+--------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+---------------+------------+-----------+-------+---------------+---------------+------------+--------------------+---------+--------+--------+---------+------------------+
|  6827|CA-2016-118689| 10/2/2016| 10/9/2016|Standard Class|   TC-20980|        Tamara Chand|  Corporate|United States|      Lafayette|     Indiana|      47905|Central|TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 17499.95|       5|       0| 8399.976|         12249.965|
|  8154|CA-2017-140151| 3/23/2017| 3/25/2017|   First Class|   RB-19360|        Raymond Buch|   Consumer|United States|        Seattle|  Washington|      98115|   West|TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 13999.96|       4|       0|6719.9808| 9799.971999999998|
|  4191|CA-2017-166709|11/17/2017|11/22/2017|Standard Class|   HL-15040|        Hunter Lopez|   Consumer|United States|         Newark|    Delaware|      19711|   East|TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 10499.97|       3|       0|5039.9856| 7349.978999999999|
|  9040|CA-2016-117121|12/17/2016|12/21/2016|Standard Class|   AB-10105|       Adrian Barton|   Consumer|United States|        Detroit|    Michigan|      48205|Central|OFF-BI-10000545|Office Supplies|     Binders|GBC Ibimaster 500...|  9892.74|      13|       0|  4946.37|          6924.918|
|  4099|CA-2014-116904| 9/23/2014| 9/28/2014|Standard Class|   SC-20095|        Sanjit Chand|   Consumer|United States|    Minneapolis|   Minnesota|      55407|Central|OFF-BI-10001120|Office Supplies|     Binders|Ibico EPK-21 Elec...|  9449.95|       5|       0|4630.4755|          6614.965|
|  2624|CA-2017-127180|10/22/2017|10/24/2017|   First Class|   TA-21385|        Tom Ashbrook|Home Office|United States|  New York City|    New York|      10024|   East|TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...|11199.968|       4|     0.2|3919.9888|         7839.9776|
|   510|CA-2015-145352| 3/16/2015| 3/22/2015|Standard Class|   CM-12385|Christopher Martinez|   Consumer|United States|        Atlanta|     Georgia|      30318|  South|OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...|  6354.95|       5|       0| 3177.475| 4448.464999999999|
|  8489|CA-2016-158841|  2/2/2016|  2/4/2016|  Second Class|   SE-20110|        Sanjit Engle|   Consumer|United States|      Arlington|    Virginia|      22204|  South|TEC-MA-10001127|     Technology|    Machines|"HP Designjet T52...|  8749.95|       5|       0| 2799.984|          6124.965|
|  7667|US-2016-140158| 10/4/2016| 10/8/2016|Standard Class|   DR-12940|       Daniel Raglin|Home Office|United States|     Providence|Rhode Island|       2908|   East|TEC-CO-10001449|     Technology|     Copiers|Hewlett Packard L...|  5399.91|       9|       0|2591.9568|3779.9369999999994|
|  6521|CA-2017-138289| 1/16/2017| 1/18/2017|  Second Class|   AR-10540|         Andy Reiter|   Consumer|United States|        Jackson|    Michigan|      49201|Central|OFF-BI-10004995|Office Supplies|     Binders|GBC DocuBind P400...|  5443.96|       4|       0|2504.2216|          3810.772|
|  1086|US-2016-143819|  3/1/2016|  3/5/2016|Standard Class|   KD-16270|       Karen Daniels|   Consumer|United States|        Yonkers|    New York|      10701|   East|TEC-MA-10003979|     Technology|    Machines|Ativa V4110MDD Mi...|  4899.93|       7|       0|2400.9657|          3429.951|
|  4278|US-2016-107440| 4/16/2016| 4/20/2016|Standard Class|   BS-11365|        Bill Shonely|  Corporate|United States|       Lakewood|  New Jersey|       8701|   East|TEC-MA-10001047|     Technology|    Machines|3D Systems Cube P...|  9099.93|       7|       0|2365.9818|          6369.951|
|  8991|US-2015-128587|12/24/2015|12/30/2015|Standard Class|   HM-14860|         Harry Marie|  Corporate|United States|    Springfield|    Missouri|      65807|Central|TEC-CO-10003763|     Technology|     Copiers|Canon PC1060 Pers...|  4899.93|       7|       0|2302.9671|          3429.951|
|  6627|CA-2014-145541|12/14/2014|12/21/2014|Standard Class|   TB-21400|    Tom Boeckenhauer|   Consumer|United States|  New York City|    New York|      10024|   East|TEC-MA-10001127|     Technology|    Machines|"HP Designjet T52...|  6999.96|       4|       0|2239.9872|          4899.972|
|  8205|CA-2015-114811| 11/8/2015| 11/8/2015|      Same Day|   KD-16495|       Keith Dawkins|  Corporate|United States|  New York City|    New York|      10024|   East|TEC-MA-10000045|     Technology|    Machines|Zebra ZM400 Therm...|   4643.8|       4|       0| 2229.024|           3250.66|
|   319|CA-2014-164973| 11/4/2014| 11/9/2014|Standard Class|   NM-18445|        Nathan Mautz|Home Office|United States|  New York City|    New York|      10024|   East|TEC-MA-10002927|     Technology|    Machines|Canon imageCLASS ...|  3991.98|       2|       0|  1995.99|          2794.386|
|  8859|CA-2017-135909|10/13/2017|10/20/2017|Standard Class|   JW-15220|           Jane Waco|  Corporate|United States|     Sacramento|  California|      95823|   West|OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...|  5083.96|       5|     0.2| 1906.485|          3558.772|
|  7684|CA-2015-120782| 4/28/2015|  5/1/2015|   First Class|   SD-20485|     Shirley Daniels|Home Office|United States|        Midland|    Michigan|      48640|Central|OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...|  3812.97|       3|       0| 1906.485|2669.0789999999997|
|  7915|CA-2017-165323| 6/17/2017| 6/21/2017|Standard Class|   SR-20740|       Steven Roelle|Home Office|United States|  New York City|    New York|      10024|   East|TEC-MA-10003673|     Technology|    Machines|Hewlett-Packard D...|   3404.5|       5|       0| 1668.205|2383.1499999999996|
|  7819|CA-2016-138478|10/21/2016|10/26/2016|  Second Class|   DP-13390|       Dennis Pardue|Home Office|United States|North Las Vegas|      Nevada|      89031|   West|OFF-BI-10001120|Office Supplies|     Binders|Ibico EPK-21 Elec...| 4535.976|       3|     0.2|1644.2913|3175.1831999999995|
+------+--------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+---------------+------------+-----------+-------+---------------+---------------+------------+--------------------+---------+--------+--------+---------+------------------+
only showing top 20 rows

In [93]:
df1.orderBy(df1['Profit'].desc()).select(['Category','Product Name','Profit']).show()

+---------------+--------------------+---------+
|       Category|        Product Name|   Profit|
+---------------+--------------------+---------+
|     Technology|Canon imageCLASS ...| 8399.976|
|     Technology|Canon imageCLASS ...|6719.9808|
|     Technology|Canon imageCLASS ...|5039.9856|
|Office Supplies|GBC Ibimaster 500...|  4946.37|
|Office Supplies|Ibico EPK-21 Elec...|4630.4755|
|     Technology|Canon imageCLASS ...|3919.9888|
|Office Supplies|Fellowes PB500 El...| 3177.475|
|     Technology|"HP Designjet T52...| 2799.984|
|     Technology|Hewlett Packard L...|2591.9568|
|Office Supplies|GBC DocuBind P400...|2504.2216|
|     Technology|Ativa V4110MDD Mi...|2400.9657|
|     Technology|3D Systems Cube P...|2365.9818|
|     Technology|Canon PC1060 Pers...|2302.9671|
|     Technology|"HP Designjet T52...|2239.9872|
|     Technology|Zebra ZM400 Therm...| 2229.024|
|     Technology|Canon imageCLASS ...|  1995.99|
|Office Supplies|Fellowes PB500 El...| 1906.485|
|Office Supplies|Fellowes PB500 El...| 1906.485|
|     Technology|Hewlett-Packard D...| 1668.205|
|Office Supplies|Ibico EPK-21 Elec...|1644.2913|
+---------------+--------------------+---------+
only showing top 20 rows

**Handling missing value in Pyspark**

In [94]:
from pyspark.sql.functions import mean

In [95]:
mean_sales = df1.select(mean(df['Sales'])).collect()

In [96]:
mean_sales

[Row(avg(Sales)=234.41818199917006)]

In [98]:
# index 0
mean_sales[0][0]

## for actual mean

234.41818199917006

In [99]:
df1.fillna(mean_sales[0][0]).show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|            SKU|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|           30%_off|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|183.37199999999999|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582| 512.3580000000001|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|10.233999999999998|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031| 670.3042499999999|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|15.657599999999999|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|            34.202|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|             5.096|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|          635.0064|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|           12.9528|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47| 80.42999999999999|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|         1194.3288|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568| 637.9967999999999|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|10.886399999999998|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|          285.5832|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|            48.167|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|            1.7808|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|           466.116|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|38.849999999999994|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|             5.992|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|149.43599999999998|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
only showing top 20 rows